<div class="basket flex-vertical-align open-modal-link"  data-modal-container="#modal-cart" id="basket" data-list="/basket/list" data-pull="/basket/pull">
    <i class="fa fa-shopping-cart"><span class="notification" id="basket-amount" style="display: none;"></span></i>
    <div>
        <div class="empty" data-empty="Корзина" id="basket-summary">Корзина</div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-6">
                © Аптека №5, 2005—2018
            </div>
            <div class="col-6 text_right">
                <a href="#">
                    Политика конфиденциальности
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>