<div class="header-mob">
    <div class="logo-menu">
        <a class="logo-header" href="/">
            <img src="img/logo.svg" alt="">
            <span class="text">
                <span class="first">Аптека №5</span>
            <span class="second"> Скидки до 70%</span>
            </span>
        </a>
    </div>


    <div class="mob-contacts_items">
        <div class="contacts_items_block contacts_items_block_phone">
            <a href="tel:88009108540">
                <img src="img/telefon-ikon-768x768.png" alt="phone">
            </a>
        </div>
        <div class="contacts_items_block contacts_items_block_email">
            <img src="img/mail.png" alt="mail">
        </div>
        <div class="contacts_items_block contacts_items_block_vk">
            <img src="img/vk.png" alt="vk">
        </div>
    </div>
</div>

<header>
    <div class="container">
        <div class="row align-items-center header-items">
            <div class="left-part">
                <nav>
                    <ul>
                        <li>
                            <a href="#">Каталог</a>
                        </li>
                        <li>
                            <a href="#">Доставка</a>
                        </li>
                        <li>
                            <a href="#">Статьи</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="right-part open-modal-link" data-modal-container="#modal-adress">
                <div class=" d-flex justify-content-end" style="">
                    <div class="region">
                        <span class="white-text">Ваш регион:</span>
                    </div>
                    <div class="select_region cust-select">
                        <span value="ekb">Екатеринбург</span>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="contacts">
    <div class="container">
        <div class="row">

            <div class="desctop-items">
                <a class="logo-header" href="/">
                    <img src="img/logo.svg" alt="">
                    <div class="text">
                        <span class="first">Аптека №5</span>
                        <span class="second"> Скидки до 70%</span>
                    </div>
                </a>

                <div class="contacts_items">
                    <div class="contacts_items_block contacts_items_block_phone">
                        <a href="tel:88009108540">
                            <img src="img/telefon-ikon-768x768.png" alt="phone">
                            <span class="phone">8-800-910-85-40</span>
                        </a>
                    </div>
                    <div class="contacts_items_block contacts_items_block_email">
                        <img src="img/mail.png" alt="mail">
                        <span class="mail">ekb@apteka-5.ru</span>
                    </div>
                    <div class="contacts_items_block contacts_items_block_vk">
                        <img src="img/vk.png" alt="vk">
                        <a href="#"><span class="vk">Вконтакте</span></a>
                    </div>
                </div>


                <div class="cart-full-container open-modal-link"  data-modal-container="#modal-cart">
                    <div class="cart-block ">
                        <div class="cart-icon">
                            <div class="order_value">1</div>
                            <img src="img/cart.png" alt="cart">
                        </div>
                    </div>
                    <div class="cart-count">
                        <div class="cart_text">Корзина</div>
                        <div class="cart_value"><span id="items_in_cart">0</span> товаров</div>
                    </div>
                </div>
            </div>


            <!--<div class="row d-flex justify-content-between  align-items-center desctop-items">
                <div class="col-12 col-md-3 col-lg-3 logo">
                    <img src="img/logo.png" alt="logo">
                </div>
                <div class="col-12 col-md-4 col-lg-6 contacts_items">
                    <div class="contacts_items_block contacts_items_block_phone">
                        <a href="tel:88009108540">
                            <img src="img/telefon-ikon-768x768.png" alt="phone">
                            <span class="phone">8-800-910-85-40</span>
                        </a>
                    </div>
                    <div class="contacts_items_block contacts_items_block_email">
                        <img src="img/mail.png" alt="mail">
                        <span class="mail">ekb@apteka-5.ru</span>
                    </div>
                    <div class="contacts_items_block contacts_items_block_vk">
                        <img src="img/vk.png" alt="vk">
                        <a href="#"><span class="vk">Вконтакте</span></a>
                    </div>
                </div>
                <div class="col-12 col-md-2 col-lg-2" onclick="PopUpShow2()">
                    <div class="row d-flex align-items-center justify-content-center cart-container">
                        <div class="justify-content-end cart-block open-modal-link" data-modal-container="#modal-cart">
                            <div class="order_value">1</div>
                            <img src="img/cart.png" alt="cart">
                        </div>
                        <div class="col-cart open-modal-link" data-modal-container="#modal-cart">
                            <div class="cart_text">Корзина</div>
                            <div class="cart_value"><span id="items_in_cart">0</span> товаров</div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>