
<section class="popup_city b-popup container" id="modal-adress" style="display: none;">
    <div class="row b-popup-content popup_aress-container">
        <div class="close-btn close-modal-click" data-modal-container="#modal-adress">
            <img src="img/close.png" alt="">
        </div>
        <div class="inner">
            <div class="popup_country right-part">
                <h2>
                    Поиск города
                </h2>
                <input type="text" name="city_search" clas="city_search" placeholder="Введите название">
                <hr>
                <h2 class="pick_country">Выберите страну</h2>
                <ul class="countries-list">
                    <li>
                        <input type="radio" name="choose_country" id="azerb">
                        <label for="azerb">Азербайджан</label></li>
                    <li><input type="radio" name="choose_country" id="armenia">
                        <label for="armenia">Армения</label></li>
                    <li><input type="radio" name="choose_country" id="belar">
                        <label for="belar">Беларусь</label></li>
                    <li><input type="radio" name="choose_country" id="georgia">
                        <label for="georgia">Грузия</label></li>
                    <li><input type="radio" name="choose_country" id="kazahstan">
                        <label for="kazahstan">Казахстан</label></li>
                    <li><input type="radio" name="choose_country" id="kirgizia">
                        <label for="kirgizia">Киргизия</label></li>
                    <li><input type="radio" name="choose_country" id="moldova">
                        <label for="moldova">Молдова</label></li>
                    <li><input type="radio" name="choose_country" id="russia">
                        <label for="russia">Россия</label></li>
                    <li><input type="radio" name="choose_country" id="uzbekistan">
                        <label for="uzbekistan">Узбекистан</label></li>
                    <li><input type="radio" name="choose_country" id="ukraine">
                        <label for="ukraine">Украина</label></li>
                </ul>
            </div>

            <div class="popup_region left-part">
                <div class="justify-content-between choose_city">
                    <div class="select-region-ttitle">
                        <h2 class="region-title">Выберите регион</h2>
                        <p>Доставка работает по всей России и СНГ. Вашего города может не быть в списке, но мы все равно
                            привезем</p>
                    </div>
                    <div class="">
                        <button class="buy_button">Искать на карте</button>
                    </div>
                </div>
                <div class="city_lis" data-simplebar>
                    <div class="city_lis_col">
                        <h2>
                            A
                        </h2>
                        <p>Абакан</p>
                        <p>Актобе</p>
                        <p>Алмать</p>
                        <p>Ангарск</p>
                        <p>Архангельск</p>
                        <p>Астана</p>
                        <p>Астрахань</p>
                        <h2>Б</h2>
                        <p>Баку</p>
                        <p>Балашиха</p>
                        <p>Барнаул</p>
                    </div>
                    <div class="city_lis_col">
                        <h2>Е</h2>
                        <p>Екатеринбург</p>
                        <p>Ереван</p>
                        <h2>З</h2>
                        <p>Запорожье</p>
                        <h2>И</h2>
                        <p>Иваново</p>
                        <p>Ижевск</p>
                        <p>Иркутск</p>
                    </div>
                    <div class="city_lis_col">
                        <h2>М</h2>
                        <p>Магадан</p>
                        <p>Магнитогорск</p>
                        <p>Махачкала</p>
                        <p>Минск</p>
                        <p>Могилёв</p>
                        <p>Москва</p>
                        <p>Мурманск</p>
                        <h2>Н</h2>
                        <p>Набережные Челны</p>
                        <p>Нальчик</p>
                        <p>Нижневартовск</p>
                    </div>
                    <div class="city_lis_col">
                        <h2>С</h2>
                        <p>Самара</p>
                        <p>Санкт-Петербург</p>
                        <p>Саранск</p>
                        <p>Саратов</p>
                        <p>Севастополь</p>
                        <p>Симферополь</p>
                        <p>Сочи</p>
                        <p>Ставрополь</p>
                        <p>Ставрополь</p>
                        <p>Старый Оскол</p>
                        <p>Сургут</p>
                        <h2>Т</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>